*.code-workspace
.vscode
.DS_Store
*.pem
*.out
.go-version
build/bin
node_modules
frontend/dist
frontend/package-lock.json
frontend/package.json.md5
__pycache__
dev-tools/scripts/*.json
dev-tools/compose/.env
