{
    "findata_upload": {{ ternary false true (coll.Has (strings.Split "," .Env.DISABLED_ENDPOINTS) "s3:findata") }},
    "timeouts": {
        "default": {{ .Env.DEFAULT_TIMEOUT }},
        "s3": {{ .Env.S3_TIMEOUT }},
        "sdsi": {{ .Env.SDSI_TIMEOUT }},
        "vault": {
          "batch": {{ .Env.VAULT_BATCH_TIMEOUT }}
        }
    },
    "endpoints": {
        "profile": "/profile",
        "valid_password": "/credentials/check",
        "allas_header": "/allasheader/",
        "shared_buckets": "/shared-buckets",
        "s3": {
            "default": "/s3/",
            "head": "/s3-head/"
        },
        "vault": {
            "project_key": "/desktop/project-key",
            "headers": "/desktop/file-headers",
            "whitelist": "/desktop/whitelist/"
        },
        "binaries": {
            "list": "/download/binaries",
            "download": "/download/<binary>",
            "versions": "/download/<binary>/versions"
        }
    }
}
