:root {
    --c-info-600: #0082bb;
    --c-success-600: #51a808;
    --c-error-600: #dd0c0c;
}

* {
    font-family: Arial, Helvetica, "FreeSans", sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    color: #595959;
    font-size: 0.9rem;
}

h2 {
    margin-top: 0px;
}

c-text-field {
    max-width: 450px;
}

c-steps {
    font-size: 0.8em;
    margin-bottom: 20px;
}

c-loader {
    pointer-events: none;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
}

.continue-button {
    margin-top: 1rem;
    float: right; 
}

.smaller-text {
    font-size: 0.8rem;
}

.gateway-table {
    margin-top: 20px;
    margin-bottom: 40px;
}