name: Release
on:
  push:
    tags:
      - "*.*.*"

jobs:
  create_release:
    name: Create release
    runs-on: ubuntu-22.04
    outputs:
      id: ${{ steps.create_release.outputs.id }}
      upload_url: ${{ steps.create_release.outputs.upload_url }}
    steps:
      - uses: actions/checkout@v4
      - name: Create release
        id: create_release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.ref_name }}
          name: Release ${{ github.ref_name }}
          body: |
            Release ${{ github.ref_name }} of SDA-Filesystem/Data Gateway GUI (Graphical User Interface).
            Release ${{ github.ref_name }} of SDA-Filesystem/Data Gateway CLI (Command Line Interface).
            Release ${{ github.ref_name }} of Airlock CLI (Command Line Interface)
            Download artifacts in zip archives below.

  build_fuse_cli_release:
    name: Upload FUSE CLI Release Asset
    needs: create_release
    strategy:
      max-parallel: 4
      matrix:
        os: [ubuntu-22.04, macos-latest, windows-latest]
        include:
          - os: ubuntu-22.04
            artifact_name: go-fuse
            os_suffix: linux-amd64
            asset_name: go-fuse-cli
          - os: macos-latest
            artifact_name: go-fuse
            os_suffix: macos-amd64
            asset_name: go-fuse-cli
          - os: windows-latest
            artifact_name: go-fuse.exe
            os_suffix: windows-amd64
            asset_name: go-fuse-cli
        golang-version: ["1.22"]

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up Golang ${{ matrix.golang-version }}
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.golang-version }}
      - name: Install macOS dependencies
        if: matrix.os == 'macOS-latest'
        run: |
          brew install --cask macfuse
      - name: Install Linux dependencies
        if: matrix.os == 'ubuntu-22.04'
        run: |
          sudo apt-get update
          sudo apt-get install build-essential libfuse-dev -y
      - name: Install Windows dependencies
        if: matrix.os == 'windows-latest'
        run: |
          choco install zip
          choco install WinFsp
      - name: Build FUSE CLI artifact Windows
        if: matrix.os == 'windows-latest'
        run: |
          $env:CGO_ENABLED=0; go build -o ./${{ matrix.artifact_name }} ./cmd/fuse/main.go
      - name: Build FUSE CLI artifact
        if: matrix.os != 'windows-latest'
        run: |
          go build -o ./${{ matrix.artifact_name }} ./cmd/fuse/main.go
      - name: Create temporary certificate file
        if: matrix.os == 'windows-latest'
        run: |
          cd ${{ github.workspace }}
          echo "${{ secrets.CERTIFICATE_BASE64 }}" >> certificate.b64
          certutil -decode certificate.b64 certificate.crt
          del certificate.b64
      - name: Sign windows executable
        if: matrix.os == 'windows-latest'
        shell: cmd
        env:
          PASSWORD_ENV: ${{ secrets.CERTIFICATE_PASSWORD }}
        run: |
          cd ${{ github.workspace }}
          "C:\Program Files (x86)\Windows Kits\10\bin\10.0.22621.0\x64\signtool.exe" sign /f .\certificate.crt /p %PASSWORD_ENV% /tr "http://timestamp.digicert.com" /td sha256 /fd sha256 ./${{ matrix.artifact_name }}
          del certificate.crt
      - name: Archive FUSE CLI Asset
        run: |
          zip --junk-paths ${{ matrix.asset_name }}-${{ matrix.os_suffix }}.zip ${{ matrix.artifact_name }}
      - name: Upload Release Asset
        id: upload-release-asset
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: ./${{ matrix.asset_name }}-${{ matrix.os_suffix }}.zip
          fail_on_unmatched_files: true

  build_airlock_cli_release:
    name: Upload Airlock CLI Release Asset
    needs: create_release
    strategy:
      max-parallel: 4
      matrix:
        os: [ubuntu-22.04, macos-latest, windows-latest]
        include:
          - os: ubuntu-22.04
            artifact_name: go-airlock
            os_suffix: linux-amd64
            asset_name: go-airlock-cli
          - os: macos-latest
            artifact_name: go-airlock
            os_suffix: macos-amd64
            asset_name: go-airlock-cli
          - os: windows-latest
            artifact_name: go-airlock.exe
            os_suffix: windows-amd64
            asset_name: go-airlock-cli
        golang-version: ["1.22"]

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up Golang ${{ matrix.golang-version }}
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.golang-version }}
      - name: Install Windows dependencies
        if: matrix.os == 'windows-latest'
        run: |
          choco install zip
      - name: Build Airlock CLI artifact Windows
        if: matrix.os == 'windows-latest'
        run: |
          $env:CGO_ENABLED=0; go build -o ./${{ matrix.artifact_name }} ./cmd/airlock/main.go
      - name: Build Airlock CLI artifact
        if: matrix.os != 'windows-latest'
        run: |
          go build -o ./${{ matrix.artifact_name }} ./cmd/airlock/main.go
      - name: Create temporary certificate file
        if: matrix.os == 'windows-latest'
        run: |
          cd ${{ github.workspace }}
          echo "${{ secrets.CERTIFICATE_BASE64 }}" >> certificate.b64
          certutil -decode certificate.b64 certificate.crt
          del certificate.b64
      - name: Sign windows executable
        if: matrix.os == 'windows-latest'
        shell: cmd
        env:
          PASSWORD_ENV: ${{ secrets.CERTIFICATE_PASSWORD }}
        run: |
          cd ${{ github.workspace }}
          "C:\Program Files (x86)\Windows Kits\10\bin\10.0.22621.0\x64\signtool.exe" sign /f .\certificate.crt /p %PASSWORD_ENV% /tr "http://timestamp.digicert.com" /td sha256 /fd sha256 ./${{ matrix.artifact_name }}
          del certificate.crt
      - name: Archive Airlock CLI Asset
        run: |
          zip --junk-paths ${{ matrix.asset_name }}-${{ matrix.os_suffix }}.zip ${{ matrix.artifact_name }}
      - name: Upload Release Asset
        id: upload-release-asset
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: ./${{ matrix.asset_name }}-${{ matrix.os_suffix }}.zip
          fail_on_unmatched_files: true

  build_gui_release:
    name: Upload GUI Release Asset
    needs: create_release
    strategy:
      max-parallel: 4
      matrix:
        os: [ubuntu-22.04, macos-latest, windows-latest]
        include:
          - os: ubuntu-22.04
            os_folder: linux
            os_suffix: linux-amd64
            asset_name: go-fuse-gui
          - os: macos-latest
            os_folder: darwin
            os_suffix: macos-amd64
            asset_name: go-fuse-gui
          - os: windows-latest
            artifact_name: data-gateway.exe
            os_folder: windows
            os_suffix: windows-amd64
            asset_name: go-fuse-gui
        golang-version: ["1.22"]
        nodejs-version: ["20"]

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up Golang ${{ matrix.golang-version }}
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.golang-version }}
      - name: Install macOS dependencies
        if: matrix.os == 'macOS-latest'
        run: |
          brew install macfuse
          brew install node@20
          brew install upx
          brew install pnpm
      - name: Install Linux dependencies
        if: matrix.os == 'ubuntu-22.04'
        run: |
          sudo apt-get update
          sudo apt-get install build-essential libgtk-3-dev libwebkit2gtk-4.0-dev npm pkg-config libfuse-dev upx -y
      - name: Install Windows dependencies
        if: matrix.os == 'windows-latest'
        run: |
          choco install zip
          choco install nodejs-lts
          choco install webview2-runtime
          choco install WinFsp
          choco install upx
          choco install pnpm

      - uses: pnpm/action-setup@v4
        if: matrix.os == 'ubuntu-22.04'
        with:
          version: 8

      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.nodejs-version }}
          cache: "pnpm"
          cache-dependency-path: frontend/pnpm-lock.yaml

      - name: Build assets
        run: |
          pnpm install --dir frontend
          pnpm run --dir frontend build

      - name: Install Wails
        run: |
          go install github.com/wailsapp/wails/v2/cmd/wails@latest
          wails doctor

      - name: Build GUI artifact Windows
        if: matrix.os == 'windows-latest'
        run: |
          set CPATH=C:\Program Files (x86)\WinFsp\inc\fuse
          cd cmd/gui
          wails build -clean -upx -webview2=embed -trimpath -s
        shell: cmd
      - name: Build GUI artifact
        if: matrix.os != 'windows-latest'
        run: |
          cd cmd/gui
          wails build -clean -upx -trimpath -s
      - name: Create temporary certificate file
        if: matrix.os == 'windows-latest'
        run: |
          cd ${{ github.workspace }}
          echo "${{ secrets.CERTIFICATE_BASE64 }}" >> certificate.b64
          certutil -decode certificate.b64 certificate.crt
          del certificate.b64
      - name: Sign windows executable
        if: matrix.os == 'windows-latest'
        shell: cmd
        env:
          PASSWORD_ENV: ${{ secrets.CERTIFICATE_PASSWORD }}
        run: |
          cd ${{ github.workspace }}
          "C:\Program Files (x86)\Windows Kits\10\bin\10.0.22621.0\x64\signtool.exe" sign /f .\certificate.crt /p %PASSWORD_ENV% /tr "http://timestamp.digicert.com" /td sha256 /fd sha256 ./build/bin/${{ matrix.artifact_name }}
          del certificate.crt
      - name: Archive GUI Asset
        run: |
          cd build/bin
          zip -r ${{ matrix.asset_name }}-${{ matrix.os_suffix }}.zip .
      - name: Upload Release Asset
        id: upload-release-asset
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: ./build/bin/${{ matrix.asset_name }}-${{ matrix.os_suffix }}.zip
          fail_on_unmatched_files: true
